.nav-image {
  width: 50px
}

.nav-container {
  display: flex;
  align-items: center;
}

header {
  height: 90px;
  background-color: #21222A;
  padding: 30px 25px;

}

nav {
  display: flex;
  align-items: center;
  height: 100%
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

nav > img {
  width: 40px;
  margin-right: 10px;
}


nav > span {
  color: #61DAFB;
  font-size: 1.4rem;
}

.header-container {
  height: 40px;
  background-color: orange;
}